<h2>Comments:</h2>

<div>
  <ul *ngFor="let i of comments , let index = index , let odd = odd , let even = even, let first = first, let last = last">
    <div [ngStyle]="{ 'background-color': first ? 'red' : last ? 'green' : even ? 'grey' : 'blue' }">
      <div>{{index}} - Name: {{i.name}}</div>
      <div>Comment: {{i.content}}</div>
    </div>
  </ul>
</div>

<div class="formulario">
  
  <form action="">
    <div>
      <label input> Name: </label>
      <input name="name" [(ngModel)]="name" placeholder="Name *" type="text" (keyup)="recordAllTheKeyStrokes($event)">
    </div>
    <br>
    <div>
      <label input> Comment: </label>
      <input name="content" [(ngModel)]="content" placeholder="Comment here *" type="text" (keyup)="recordAllTheKeyStrokes($event)">
    </div>
    <button (click)="addComment(name, content)">Submit</button>
  </form>
</div>